---
import Layout from '../../layouts/Layout.astro';
import './new.css';
import { blog, experience } from './content';
---

<Layout title="Nick Fitton">
  <div class="content">
    <header>
      <div class="title">
        <h1>Nicholas Fitton</h1>
        <h2>Senior fullstack engineer</h2>
        <p>Working in the Frontend Platforms squad @ OVO Energy</p>
      </div>
      <div class="about">
        <p>
          I'm a Squad lead and senior software engineer at OVO Energy with a
          passion for creating innovative solutions in the energy industry. With
          over 5 years of experience, I have managed projects, built
          integrations, and solved complex problems using technologies such as
          React, React Native, Gatsby, Next.js, and more. I have a proven track
          record of driving results and achieving impact in my previous roles,
          including projects to implement push notifications, optimize app
          updates, and create help sections from scratch.
        </p>
      </div>
    </header>
    <section class="info">
      <div class="card">
        <h3>Experience</h3>
        {
          experience.map(({ company, from, to, content }) => (
            <div class="experience">
              <div class="left">
                <h4>{company}</h4>
                <p>
                  {from} - {to}
                </p>
              </div>
              <div class="right">
                {content.map((paragraph) => (
                  <p>{paragraph}</p>
                ))}
              </div>
            </div>
          ))
        }
      </div>
      <div class="card skills">
        <h3>Skills</h3>
        <div>
          <div class="experience">
            <div class="left">
              <h4>Engineering Management</h4>
            </div>
            <div class="right">
              <p>
                In my tenure at OVO Energy, I undertook the role of a SEM for a
                quarter, leading a compact team of four developers, including
                myself. My responsibilities extended beyond project management
                to encompass effective inter-team communication and maintaining
                my contributions as an Engineer.
              </p>
              <p>
                During this period, we delivered key projects, including the
                development and launch of a new app for support teams, a
                successful study to simplify a project by removing Redux, and
                the implementation of a new screen view type across various
                project journeys, which was well-received by customers and
                developers.
              </p>
            </div>
          </div>
          <div class="experience">
            <div class="left">
              <h4>Software Engineering</h4>
            </div>
            <div class="right">
              <p>
                I am passionate about developing tooling that empowers other
                developers to achieve remarkable results efficiently. A recent
                focus of mine has been optimizing Detox test runs on CI
                machines. Previously, these tests took over 90 minutes and were
                prone to failure due to flakey tests and a challenging developer
                experience (DX) stemming from team inexperience.
              </p>
              <p>
                Addressing these issues was an engaging and rewarding journey.
                It led me to insights and solutions that I've shared in <a
                  href="/blogs/why-you-hate-detox">this post</a
                >, detailing the process and improvements made.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card blog">
        <h3>Blog</h3>
        {
          blog.map(({ name, date, summary }) => (
            <div class="experience">
              <div class="left">
                <h4>{name}</h4>
                <p>{date}</p>
              </div>
              <div class="right">
                <p>{summary}</p>
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
